@import url(https://bibliohound.neocities.com/page-template/template.css);

/* Grid */

.grid-item {
    background-color: white;
}

.btn:disabled, .btn-primary {
    background-color: #ad603a !important;
    border-color: #ad603a !important
}

