@import url(https://bibliohound.neocities.org/page-template/characters-template.css);

#hero img {
    object-position: 100% 75% /* insert custom value here */;
}

@media only all and (max-device-width: 768px) {
    #hero img {
    object-position: 100% 55% /* insert custom value here */;
}
}

@media only all and (min-device-width: 768px) and (max-device-width: 992px) {
#image {
    left: 5%;
}
}