@import url(https://eventidehound.neocities.org/page-template/template.css);

/* Header */

.disclaimer {
    font-size: 0.85em;
}

/* Grid */

.grid-item {
    background-color: white;
}

.btn:disabled, .btn-primary {
    background-color: #ad603a !important;
    border-color: #ad603a !important
}