@import url(https://bibliohound.neocities.org/page-template/template.css);

.links h3 {
    font-size: 1.5em;
}

.links hr {
    border: 2.5px dotted gray;
}

.mentions {
    overflow: hidden;
    white-space: nowrap;
    animation: 25s slide infinite linear;
    display: inline-block;
    overflow-anchor: none;
}

.mentions .mentions-btn a img {
    margin: 0 5px;
}

.mentions .mentions-btn:hover a img {
    transform: scale(1.2);
}

.mentions:has(.mentions-btn:hover){
    animation-play-state: paused;
}

@keyframes slide {
    from {
        transform: translateX(110%)
    }

    to {
        transform: translateX(-75%)
    }
}