@import url(https://bibliohound.neocities.org/page-template/template.css);

/* Featured Image */

#hero {
    height: 15em;
}

/* Basic Info */

@media only all and (min-device-width: 768px) {
    #image img {
        transform: rotate(349deg);
        height: 90%;
    }  
}

.tape {
    top: 0.85em;
}

.tape img {
    width: 25%;
}

@media only all and (max-device-width: 767px) {
    .tape img {
        width: 35%;
    }
    .tape {
        top: 0.75em;
    }
}

@media only all and (min-device-width: 768px) and (max-device-width: 991px) {
    .tape img {
        width: 25%;
    }
    .tape {
        top: 0.75em;
        
    }
}

#description {
    background-color: white;
    border-radius: 3px;
    overflow-y: auto;
    overflow-x: hidden;
}

.pagedoll {
    position: fixed;
    bottom: 0.25em;
    right: 0.25em;
}

.pagedoll img {
    position: fixed;
    bottom: 0.25em;
    right: 0.25em;
    z-index: 5;
}