@import url(https://bibliohound.neocities.org/page-template/template.css);

/* Featured Image */

#hero {
    height: 20%;
}

/* Description */

#quote {
    font-family: "Fredericka the Great";
    font-size: 1.25em;
}

/* Characters */

.character-item {
    height: 200px;
}

.description {
    background-color: white;
    overflow-y: scroll;
}