html, body {
  height: 100%;
}

.container-xxl {
  min-height: 100vh;       /* fills screen if short */
  display: flex;
  flex-direction: column;
}

.row.full-height {
  flex: 1;                 /* row stretches to fill container */
  display: flex;
}

.row.full-height > [class*="col-"] {
  display: flex;
  flex-direction: column;  /* make each col stretch */
}


h1 {
    font-family: "Fredericka the Great";
}

h2 {
    font-family: "Fredericka the Great";
}

h3 {
    font-family: "Fredericka the Great";
}

h4 {
    font-family: "Fredericka the Great";
}

h5 {
    font-family: "Fredericka the Great";
}

.container-xxl {
    overflow-y: hidden;
}

nav {
    height: 100%;
    overflow-y: scroll;
}

main {
    height: 96.5%;
    overflow-y: hidden;
}

#board {
    background-image: url(https://bibliohound.neocities.org/images/background/corkboard.jpg);
    border-radius: 5px;
}

#paper {
    background-color: cornsilk;
    overflow-y: auto;
    overflow-x: hidden;
}

@media only all and (max-device-width: 991px) {
    nav {
        height: auto;
        overflow-y: scroll;
    }

    main {
        height: 85%;
    }
}