@import url(/page-template/template.css);

/* Header Image */

#hero {
    height: 20%;
}

#hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 22%;
}

/* Main Content */

/* Title */

@media only all and (max-device-width: 991px) {
    h1 {
    font-size: 1.25em;
}
}

/* Buttons and Site Info */

#buttons-site-info li {
    display: inline;
}

/* Extra Links */

#extra-links li {
    display: inline;
}

#extra-links li a {
    font-family: "Fredericka the Great";
}

/* Extra Content */

/* Goodies */

#extra-content {
    height: 50vh;
}

#extra-content .row {
    height: 100%;
}

.row #goodies {
    background-color: #b3987f;
    height: 100%;
}
