@import url(https://bibliohound.neocities.org/page-template/template.css);

/* Header Image */

#hero {
    height: 20%;
}

#hero img {
    object-position: 100% 22%;
}

/* Main Content */

/* Title */

@media only all and (max-device-width: 991px) {
    h1 {
    font-size: 1.25em;
}
}

/* Buttons and Site Info */

#buttons-site-info li {
    display: inline;
}

/* Extra Links */

#extra-links li {
    display: inline;
}

#extra-links li a {
    font-family: "Fredericka the Great";
}

@media only all and (min-device-width: 768px) {
    #extra-links li a {
        font-size: 1.25em;
    }
}

/* Extra Content */

/* Goodies */

.row #goodies {
    background-color: #b3987f;
    height: 100%;
}

#goodies h2 {
    font-size: 1.25em;
}

#guestbook a {
    font-family: "Fredericka the Great";
    font-size: 1.5em;
}

#guestbook img {
    width: 30%;
}

#statuscafe {
    padding: 0 0.5em;
    background-image: url(https://bibliohound.neocities.org/images/home/statuscafe-background.jpg);
    border: 1px solid midnightblue;
}
#statuscafe-username {
    margin: 0.5em 0;
}
#statuscafe-content {
    margin: 0 1em 1em 1em;
}