@import url(https://bibliohound.neocities.org/page-template/stories-template.css);

#hero img {
    object-position: 100% 30%;
}

#excerpts hr {
    border: 2.5px dotted gray;
}

.pagedoll {
    position: fixed;
    bottom: 0.25em;
    right: 0.25em;
}

.pagedoll img {
    width: 7.5%;
    position: fixed;
    bottom: 0.25em;
    right: 0.25em;
    z-index: 5;
}