@import url(https://bibliohound.neocities.org/page-template/template.css);

/* Hero */

#graphics-hero {
    background-color: white;
}

/* Main Content */

main p strong {
    font-family: "Fredericka the Great";
    font-size: 1em;
}

/* Links */

#links p {
    font-family: "Fredericka the Great";
    font-size: 1.25em;
}

@media only all and (max-device-width: 991px) {
    #links p {
        font-family: "Fredericka the Great";
        font-size: 1em;
    }
}

