@import url(https://bibliohound.neocities.org/page-template/template.css);

/* Header Image */

#hero {
    height: 15em;
}

#hero img {
    object-position: 100% 45%;
}

/* Main Content */

main p strong {
    font-family: "Fredericka the Great";
    font-size: 1.25em;
}

/* Graphics */

#identity-pixels p {
    font-size: 0.85em;
}

#graphics h1 {
    font-size: 1.5em;
}

#userboxes img {
    width: 30%;
}

@media only all and (max-device-width: 991px) {
    #graphics h1 {
        font-size: 1.25em;
    }

    #userboxes img {
        width: 70%;
    }
}

/* Kins */

.kins h1 {
    font-size: 1.5em;
}

.kins-grid-item {
    background-color: white;
}

.kins-grid-item h1 {
    font-size: 1.25em;
}

@media only all and (max-device-width: 991px) {
    #kins h1 {
        font-size: 1.25em;
    }
}

/* Links */

#links p {
    font-family: "Fredericka the Great";
    font-size: 1.25em;
}

@media only all and (max-device-width: 991px) {
    #links p {
        font-family: "Fredericka the Great";
        font-size: 1em;
    }
}

