@import url(https://eventidehound.neocities.org/page-template/characters-template.css);

#hero img {
    object-position: 100% 40% /* insert custom value here */;
}

.pagedoll img {
    width: 8.5%;
}