@import url(https://eventidehound.neocities.org/page-template/stories-template.css);

#hero img {
    object-position: 100% 30%;
}

#excerpts hr {
    border: 2.5px dotted gray;
}

.pagedoll img {
    width: 7.5%;
}